.headers-form-wrap {
    width: 100%;
    max-width: 400px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* Set height if vertical centering is required */
}

div.s123-module-headers {
    white-space: normal;
}

.s123-module-headers {
    white-space: normal !important;
}

.s123-module-headers {
    white-space: normal !important;
}

#section-169 .s123-module-headers {
    white-space: normal !important;
}

div.s123-module-headers {
    white-space: normal !important;
}

div.s123-module-headers {
    white-space: normal;
}

.s123-module-headers {
    white-space: normal !important;
}

.s123-module-headers .m-h-item span,
.s123-module-headers .m-h-item {
    white-space: normal !important;
    word-wrap: break-word;
    margin-top: 0;
    margin-bottom: 10px;
}

/* #mainNav {
    box-shadow: none;
    border: none;
    color: white !important;

  }
  .headers-container {
    --section-bg: url('https://images.cdn-files-a.com/ready_uploads/media/4967404/2000_5ea9898e06a3e.jpg');
  }
  
  #mainNav {
    background-image: var(--section-bg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white !important;

  }
  #mainNav {
    position: fixed; 
    top: 0;
    width: 100%;
    z-index: 1000;
    background: transparent; 
    transition: background-color 0.3s ease-in-out;
  }
  
  #mainNav.scrolled {
    background-image: url('https://images.cdn-files-a.com/ready_uploads/media/4967404/2000_5ea9898e06a3e.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.9;
  }
  #mainNav {
    background-image: url('https://images.cdn-files-a.com/ready_uploads/media/4967404/2000_5ea9898e06a3e.jpg'); 
    background-position: center center; 
    background-size: cover; 
    background-repeat: no-repeat; 
    opacity: 0.9; 
    transition: background-color 0.3s ease-in-out; 
  }
  #mainNav {
    background: transparent; 
    box-shadow: none; 
    color: white !important;
  } */
body {
    font-family: 'Rubik', sans-serif !important;
}

@media (max-width: 767px) {
    #section-169 {
        padding-top: 0px !important;
    }
}
.cc{
    line-height: 35px;
}
h1{
    color: rgb(17, 114, 121);
}
.nav-item a{
    font-size: 14px !important;
}
.container:not(:first-child){
margin-top: 150px !important;
margin-bottom: 150px !important;
}